body {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
div {
    margin: 0.1em;
    padding: 0.5em;
    -khtml-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}
.sign {
    font-size: 24pt;
    background-color: #FFCC55;
}
.page {
    display: inline-block;
}
.input {
    border: none;
    background: transparent;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
.referer {
    font-size: small;
}
.balance {
    font-size: 18pt;
    background-color: #FFCC55;
}
.confirm {
    font-size: 18pt;
    background-color: #FF6666;
}
input {
    font-size: 1em;
}
.answer {
    font-size: 18pt;
    background-color: #8888FF;
}
.address {
    font-size: small;
}

